IF (CHARINDEX('4.2', @@version) > 0 OR
    CHARINDEX('6.00', @@version) > 0 OR
    CHARINDEX('6.50', @@version) > 0 )

   CREATE DATABASE GrocerToGo ON DEFAULT = 3
ELSE
   CREATE DATABASE GrocerToGo
GO

USE GrocerToGo
GO

/****** Object:  Table [dbo].[Categories]    Script Date: 11/8/2000 4:11:57 PM ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Categories]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Categories]
GO

/****** Object:  Table [dbo].[Customers]    Script Date: 11/8/2000 4:11:57 PM ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Customers]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Customers]
GO

/****** Object:  Table [dbo].[ProductDetails]    Script Date: 11/8/2000 4:11:57 PM ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[ProductDetails]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ProductDetails]
GO

/****** Object:  Table [dbo].[Products]    Script Date: 11/8/2000 4:11:57 PM ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Products]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Products]
GO

/****** Object:  Table [dbo].[Categories]    Script Date: 11/8/2000 4:11:59 PM ******/
CREATE TABLE [dbo].[Categories] (
	[CategoryID] [int] NULL ,
	[CategoryName] [nvarchar] (75) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Customers]    Script Date: 11/8/2000 4:11:59 PM ******/
CREATE TABLE [dbo].[Customers] (
	[CustomerID] [int] NULL ,
	[FirstName] [nvarchar] (50) NULL ,
	[LastName] [nvarchar] (50) NULL ,
	[Address] [nvarchar] (50) NULL ,
	[City] [nvarchar] (50) NULL ,
	[State] [nvarchar] (50) NULL ,
	[Zip] [nvarchar] (50) NULL ,
	[HomePhone] [nvarchar] (50) NULL ,
	[WorkPhone] [nvarchar] (50) NULL ,
	[Email] [nvarchar] (50) NULL ,
	[Reference] [nvarchar] (50) NULL ,
	[FamilyCount] [nvarchar] (50) NULL ,
	[PetCount] [nvarchar] (50) NULL ,
	[CardNumber] [nvarchar] (50) NULL ,
	[CardType] [nvarchar] (50) NULL ,
	[Expiration] [nvarchar] (50) NULL ,
	[CardName] [nvarchar] (50) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ProductDetails]    Script Date: 11/8/2000 4:12:00 PM ******/
CREATE TABLE [dbo].[ProductDetails] (
	[ProductID] [int] NULL ,
	[Name] [nvarchar] (50) NULL ,
	[Grams] [nvarchar] (50) NULL ,
	[Percent] [int] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Products]    Script Date: 11/8/2000 4:12:00 PM ******/
CREATE TABLE [dbo].[Products] (
	[ProductID] [int] NOT NULL ,
	[CategoryID] [int] NULL ,
	[ProductName] [nvarchar] (75) NOT NULL ,
	[ProductDescription] [ntext] NULL ,
	[UnitPrice] [money] NOT NULL ,
	[ImagePath] [nvarchar] (255) NULL ,
	[ServingSize] [nvarchar] (50) NULL ,
	[Servings] [int] NULL ,
	[Quantity] [int] NULL ,
	[MinOnHand] [int] NULL ,
	[MaxOnHand] [int] NULL ,
	[Manufacturer] [nvarchar] (50) NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


/* Insert data into Categories table */
INSERT INTO Categories (CategoryID,CategoryName) VALUES (3,"Soda")
INSERT INTO Categories (CategoryID,CategoryName) VALUES (2,"Cereal")
INSERT INTO Categories (CategoryID,CategoryName) VALUES (1,"Milk")


/* Insert data into ProductDetails table */
INSERT INTO ProductDetails (ProductID,Name,Grams,[Percent]) VALUES (1001,"Total Fat","6g",10)
INSERT INTO ProductDetails (ProductID,Name,Grams,[Percent]) VALUES (1001,"Cholesterol","1g",3)
INSERT INTO ProductDetails (ProductID,Name,Grams,[Percent]) VALUES (1001,"Sodium","90mg",0)


/* Insert data into Products table */
INSERT INTO Products (ProductID,CategoryID,ProductName,ProductDescription,UnitPrice,ImagePath,ServingSize,Servings,Quantity,MinOnHand,MaxOnHand,Manufacturer) VALUES (1001,1,"Chocolate City Milk","Chocolate City Milk Description",2,"/quickstart/aspplus/images/milk5.gif","8 fl oz (240 mL)",8,0,0,0,"Chocolate City")
INSERT INTO Products (ProductID,CategoryID,ProductName,ProductDescription,UnitPrice,ImagePath,ServingSize,Servings,Quantity,MinOnHand,MaxOnHand,Manufacturer) VALUES (1002,1,"Bessie Brand 2% Milk","Bessie Brand 2% Milk Description",1.19,"/quickstart/aspplus/images/milk1.gif","8 fl oz (240 mL)",8,0,0,0,"Milk Factory")
INSERT INTO Products (ProductID,CategoryID,ProductName,ProductDescription,UnitPrice,ImagePath,ServingSize,Servings,Quantity,MinOnHand,MaxOnHand,Manufacturer) VALUES (1003,1,"Funny Farms  Milk","Funny Farms Whole Milk Description",1.29,"/quickstart/aspplus/images/milk4.gif","8 fl oz (240 mL)",10,0,0,0,"Funny Farms")
