<configuration>

  <system.web>
    <deviceFilters>
      <filter name="PrefersBmp" compare="PreferredImageMIME" argument="image/bmp"/>
      <filter name="PrefersWBmp" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp"/>
      <filter name="PrefersGif" compare="PreferredImageMIME" argument="image/gif"/>
      <filter name="PrefersPng" compare="PreferredImageMIME" argument="image/png"/>
      <filter name="IsHTML32" compare="PreferredRenderingType" argument="html32"/>
      <filter name="IsWML" compare="PreferredRenderingMIME" argument="text/vnd.wap.wml"/>

      <filter name="IsScriptableHtml32" type="Acme.CustomFilters,Acme.CustomFiltersCS"
              method="IsScriptableHtml32"/>
    </deviceFilters>

    <sessionState cookieless="true" />
    <httpRuntime useFullyQualifiedRedirectUrl="true" />
    <globalization fileEncoding="utf-8" culture="en-US" />

  </system.web>

</configuration>
